## Configure python git ignore.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.venv

*.pth

# ignore node modules anywhere
**/node_modules/
# ignore build output directories
**/dist/
**/build/
**/out/
# ignore log files
*.log
# ignore environment variable files
.env
.env.*.local
